html {
  height: 100%;
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phone {
    font-size: 14px;
  }
}

body {
  font-family: ubuntu;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
}

.container {
  width: 95%;
  max-width: rem(940px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}