.section--reviews {
   height: 100vh;
}

.reviews {
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}

.reviews__block {
   width: 25%;
   height: 50%;
   background: center center / cover no-repeat;
   list-style: none;
   position: relative;
   filter: grayscale(100%);

   &:hover {
      .reviews__block-hover {
         opacity: 1;
      }
   }

   @include tablets {
      width: 50%;
      height: 25%;
   }
}

.reviews__block-hover {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: rgba(#444646, .5);
   color: #fff;
   // padding: 3.13rem 1.19rem 1.19rem 1.19rem;
   // padding: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: rem(10px);
   opacity: 0;
   transition: opacity .3s;

   @include tablets {
      padding: auto;
      text-align: center;
   }
}

.reviews__button {
   border-style: none;
   text-transform: uppercase;
   border-radius: .44rem;
   background: #2f3234;
   color: #fff;
   padding: .94rem;
   font-family: ubuntu-regular;

   @include phone {
      font-size: .7rem;
   }
}

.reviews__button:after {
   content: 'подробнее';

   @include phone {
      content: 'читать отзыв';
   }
}

.reviews__text {
   font-family: ubuntu-regular;
   line-height: 1.8rem;
   margin-bottom: 1.25rem;
   font-size: .88rem;

   @include tablets {
      text-align: center;
      line-height: 1.5rem;
      font-size: 1rem;
   }

   @include phone {
      display: none;
   }
}

.reviews__title {
   font-family: gagalin-regular;
   margin-bottom: 1.88rem;
   font-size: 1.06rem;

   @include tablets {
      margin-bottom: 1rem;
   }
}


.overlay {
   position: absolute;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100vh;
   background: rgba(1, 1, 1, .8);
   overflow: hidden;
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

.popup {

   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 40%;
   padding: rem(15px) rem(40px);
   border-radius: rem(5px);

   @include phone {
      max-width: 70%;
   }
}

.popup__text {
   font-family: ubuntu-regular;
}

.close__button {
   height: rem(30px);
   width: rem(30px);
   border-radius: 50%;
   background-color: #e45028;
   color: #fff;
   font-family: ubuntu-regular;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.close__button-reviews {
   position: absolute;
   top: 0;
   right: 0;
   margin-top: rem(-10px);
   margin-right: rem(-10px);
}